.home-bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  height: 100vh;
}
.home-main-heading {
  font-family: 'Roboto';
  color: #ffffff;
  font-weight: bold;
  font-size: 50px;
}
.home-main-para {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 25px;
  max-width: 600px;
}
.home-button {
  font-family: 'Roboto';
  color: #ffffff;
  background-color: #4f46e5;
  padding: 15px;
  border-width: 0px;
  border-radius: 5px;
  width: 100px;
  font-weight: bold;
}
.home-container {
  padding: 30px;
  margin-top: 50px;
}
