.header-container {
  display: flex;

  margin: 10px;
}
.header-list {
  list-style-type: none;
}
.list-item {
  margin: 5px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
.header-bg-container {
  background-color: #272727;
  padding: 10px;
}
.header-top-image {
  height: 50px;
  width: 100px;
}
.logout-button {
  font-family: 'Roboto';
  color: #ffffff;
  background-color: #4f46e5;
  padding: 10px;
  border-radius: 5px;
  border-width: 0px;
  margin-top: 15px;
  width: 100px;
}
.di {
  display: flex;
  margin-top: 20px;
}
.d {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}
@media (min-width: 576px) {
  .ic {
    display: none;
  }
}
@media (max-width: 576px) {
  .h {
    display: none;
  }
}
